{% extends '::base.html.twig' %}


{% block body %}
    <div class="adm-show">
        <img src="{{ asset('uploads/img/' ~ buty.zdjecie) }}">
        <div class="shoe-data">
            <div class="adm-show-cena">{{ buty.cena }} zl</div>
            <hr>
            <div class="adm-show-marka">{{ buty.marka }}</div>
            <div class="adm-show-model">{{ buty.model }}</div>
            <hr>
            <div class="adm-show-kolor">Kolor: {{ buty.kolor }}</div>
            <hr>
            {% if buty.rozmiar is not empty %}
            <div class="adm-show-rozmiar"><p>Dostepne rozmiary:</p><p>{{ buty.rozmiar | join(', ') }}</p></div>
            {% else %} <div class="adm-show-rozmiar"><p>Brak dostepnych rozmiarow</p></div>
            {% endif %}
            <hr>
            <div class="action">
                <p><a href="{{ path('app_admin_buty_index') }}">Powrot do listy produktow</a></p>
        </div>
    </div>
    <!--<div class="produkty col-md-12">
        <img src="{{ asset('uploads/img/' ~ buty.zdjecie) }}">
        <h2 class="buty-marka">
            {{ buty.marka }}
        </h2>
        <h3 class="buty-model">
            {{ buty.model }}
        </h3>
        <h4 class="buty-kolor">
            {{ buty.kolor }}
        </h4>
        <h5 class="buty-cena">
            cena: {{ buty.cena }} zl
        </h5>

    {% if buty.rozmiar is not empty %}

            <h6 class="buty-rozmiar">Dostepne rozmiary:
            {#{% for tag in post.tags %}#}
            {#{{ tag }},#}
            {#{% endfor %}#}

            {{ buty.rozmiar | join(', ')   }}</h6>
        </div>
        {% else %} Brak dostepnych rozmiarow
    {% endif %}
    <a href="{{ url('app_front_default_index') }}">Powrot do listy produktow</a>-->

{% endblock %}